---
- name: Instala칞칚o do Wazuh no Windows Server
  hosts: windows
  vars:
    wazuh_file: "{{ lookup('env', 'WAZUH_FILE') | default('wazuh.ps1', true) }}"
    caminho_remoto_wazuh: C:\Users\_admin-skyone\Desktop\Agents_Skyone\wazuh\{{ wazuh_file }}
    arquivos_dir: "./arquivos/windows"
  
  tasks:
    - name: "Mensagem: Criando diret칩rio para Wazuh"
      debug:
        msg: "游 Criando diret칩rio para Wazuh no servidor 游"

    - name: "Criar diret칩rio para Wazuh"
      win_file:
        path: C:\Users\_admin-skyone\Desktop\Agents_Skyone\wazuh
        state: directory
      ignore_errors: yes

    - name: "Mensagem: Copiando arquivo de instala칞칚o do Wazuh"
      debug:
        msg: "游 Copiando arquivo de instala칞칚o do Wazuh 游"
      
    - name: "Copiar arquivo de instala칞칚o do Wazuh para o servidor"
      win_copy:
        src: "{{ arquivos_dir }}/{{ wazuh_file }}"
        dest: "{{ caminho_remoto_wazuh }}"
      ignore_errors: yes

    - name: "Mensagem: Iniciando instala칞칚o do Wazuh"
      debug:
        msg: "游 Iniciando instala칞칚o do Wazuh 游"

    - name: "Iniciar instala칞칚o do Wazuh"
      win_shell: |
        powershell -ExecutionPolicy Bypass -File "{{ caminho_remoto_wazuh }}"
      register: wazuh_installation
      failed_when: wazuh_installation.rc != 0
      ignore_errors: yes

    - name: "Mensagem: Mostrando sa칤da completa da instala칞칚o do Wazuh"
      debug:
        msg: "游 Mostrando sa칤da completa da instala칞칚o do Wazuh 游"

    - name: "Mostrar sa칤da completa da instala칞칚o do Wazuh"
      debug:
        var: wazuh_installation
      ignore_errors: yes

    - name: "Mensagem: Verificando se a instala칞칚o do Wazuh foi conclu칤da com sucesso"
      debug:
        msg: "游 Verificando se a instala칞칚o do Wazuh foi conclu칤da com sucesso 游"

    - name: Verificar o estado do servi칞o Wazuh
      win_service:
        name: WazuhSvc
      register: wazuh_service_status
      ignore_errors: yes

    - name: Mostrar detalhes do servi칞o Wazuh
      debug:
        var: wazuh_service_status
      ignore_errors: yes

    - name: Mostrar o estado do servi칞o Wazuh
      debug:
        msg: "O servi칞o Wazuh est치 {{ wazuh_service_status.state | default('n칚o encontrado') }}"
      ignore_errors: yes

    - name: Iniciar o servi칞o Wazuh se n칚o estiver rodando
      win_service:
        name: WazuhSvc
        state: started
      when: wazuh_service_status.state is defined and wazuh_service_status.state != "running"
      ignore_errors: yes

    - name: Definir o tipo de inicializa칞칚o do servi칞o Wazuh para Autom치tico
      win_service:
        name: WazuhSvc
        start_mode: auto
      ignore_errors: yes

    - name: Confirmar que o servi칞o Wazuh est치 rodando
      win_service:
        name: WazuhSvc
      register: updated_service_status
      ignore_errors: yes

    - name: Mostrar status atualizado do servi칞o Wazuh
      debug:
        msg: "O servi칞o Wazuh est치 {{ updated_service_status.state | default('n칚o encontrado') }}"
      ignore_errors: yes

    - name: Limpar arquivos tempor치rios do Wazuh
      win_file:
        path: C:\Users\_admin-skyone\Desktop\Agents_Skyone\wazuh
        state: absent
      ignore_errors: yes